  <div class="container">
    <table class="footer-table">
      <tbody>
        <tr>
          <td class="text-muted align-text-bottom"> Place sticky footer content here. </td>
        </tr>
      </tbody>
    </table>
  </div>