<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark">
  <%= link_to 'Home', root_path, class: 'navbar-brand'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto"></div>
      <ul class="navbar-nav">
        <% unless user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Login', login_path, class: 'nav-link', id: 'login_link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link', id: 'logout_link' %>
          </li>
        <% end %>
      </ul>
  </div>
</nav>