<div class="container fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky">
          <li class="nav-item" data-target="#sidebarMenu" data-toggle="collapse">
            <%= link_to 'Dashboard', user_dashboard_path, class: 'nav-link', id: 'dashboard_link' %>
          </li>
          <li class="nav-item" data-target="#sidebarMenu" data-toggle="collapse">
            <%= link_to 'Settings', settings_path, class: 'nav-link', id: 'settings_link' %>
          </li>
      </div>
    </nav>
  </div>